<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h2>Список изображений</h2>
    
    {% if object_list %}
        <ul style="list-style: none;">
            {% for image in object_list %}
                <li><a class="image-link" href="{% url 'edit_image' image.id %}">{{image.filename}}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Нет доступных изображений</p>
    {% endif %}
    <a href="{% url 'upload_image' %}">Добавить изображение</a>
{% endblock %}