<!-- templates/imagemanager/edit.html -->
{% extends 'base.html' %}

{% load static %}

{% block title %}Image edit{% endblock %}

{% block content %}
<a href="{% url '/'%}">Назад к списку</a>
<div class="form-container">
    <form method="post" enctype='multipart/form-data'>
        {{ form.as_p }}
    <button type="submit" class="btn btn-success">Отправить</button>
    </form>
</div>
<div class="image-container">
    {% if image.resized_image %}
        <img src="{{ image.resized_image.url }}"/>
    {% else %}
        <img src="{{ image.image.url }}"/>
    {% endif %}
</div>

{% endblock %}